<div class="stepsdemo-content m-3">
  <div [@popOverState]="stateQuestion1">
    <p-card>
      <ng-template pTemplate="title">
        Primeira pergunta
      </ng-template>
      <ng-template pTemplate="subtitle">
        O que eu achei que tu era no primeiro encontro ??
      </ng-template>
      <ng-template pTemplate="content">
        <div class="">

        </div>

      </ng-template>
      <ng-template pTemplate="footer">
        <div class="p-grid p-nogutter p-justify-end">
          <p-button label="Timida" (onClick)="validate(false)" icon="pi pi-angle-right"
            styleClass="p-button-outlined m-2" iconPos="right"></p-button>
          <p-button label="Patricinha" (onClick)="validate(true,1)" icon="pi pi-angle-right"
            styleClass="p-button-outlined m-2" iconPos="right"></p-button>
          <p-button label="Maloqueira" (onClick)="validate(false)" icon="pi pi-angle-right"
            styleClass="p-button-outlined m-2" iconPos="right"></p-button>
          <p-button label="Problematica" (onClick)="validate(false)" icon="pi pi-angle-right"
            styleClass="p-button-outlined m-2" iconPos="right"></p-button>
        </div>
      </ng-template>
    </p-card>
  </div>
  <div [@popOverState]='stateQuestion2'>
    <p-card>
      <ng-template pTemplate="title">
        Segunda pergunta
      </ng-template>
      <ng-template pTemplate="subtitle">
        Que dia nos beijamos pela primeira vez ??
      </ng-template>
      <ng-template pTemplate="content">
        <div class="">

        </div>

      </ng-template>
      <ng-template pTemplate="footer">
        <div class="p-grid p-nogutter p-justify-end">
          <p-button label="12 de outubro" (onClick)="validate(true,2)" icon="pi pi-angle-right" styleClass="p-button-outlined m-2"
            iconPos="right"></p-button>
          <p-button label="16 de outubro" (onClick)="validate(false,2)" icon="pi pi-angle-right" styleClass="p-button-outlined m-2"
            iconPos="right"></p-button>
          <p-button label="10 de outubro" (onClick)="validate(false,2)" icon="pi pi-angle-right" styleClass="p-button-outlined m-2"
            iconPos="right"></p-button>
          <p-button label="02 de outubro" (onClick)="validate(false,2)" icon="pi pi-angle-right" styleClass="p-button-outlined m-2"
            iconPos="right"></p-button>
        </div>
      </ng-template>
    </p-card>
  </div>

  <div [@popOverState]='stateQuestion3'>
    <p-card>
      <ng-template pTemplate="title">
        Terceira pergunta
      </ng-template>
      <ng-template pTemplate="subtitle">
        Qual foi o dia que tomei o maior susto da minha vida ??
      </ng-template>
      <ng-template pTemplate="content">
        <div class="">

        </div>

      </ng-template>
      <ng-template pTemplate="footer">
        <div class="p-grid p-nogutter p-justify-end">
          <p-button label="Quando quase quebrei meu joelho jogando futebol" (onClick)="validate(false,3)" icon="pi pi-angle-right" styleClass="p-button-outlined m-2"
          iconPos="right"></p-button>
          <p-button label="Quando minha gata ficou miando para os tijolos de vidro que tem na minha casa em charqueadas" (onClick)="validate(false,3)" icon="pi pi-angle-right" styleClass="p-button-outlined m-2"
          iconPos="right"></p-button>
          <p-button label="Quando o TED quebrou um copo na minha cozinha de madrugada" (onClick)="validate(false,3)" icon="pi pi-angle-right"
          styleClass="p-button-outlined m-2" iconPos="right"></p-button>
          <p-button label="O dia que vi minha mãe de camisola na madrugada que tava maratonando supernatural" (onClick)="validate(true,3)" icon="pi pi-angle-right" styleClass="p-button-outlined m-2"
            iconPos="right"></p-button>
        </div>
      </ng-template>
    </p-card>
  </div>

  <div [@popOverState]='stateQuestion4'>
    <p-card>
      <ng-template pTemplate="title">
        Quarta pergunta
      </ng-template>
      <ng-template pTemplate="subtitle">
        De qual cidade é família da minha mãe ??
      </ng-template>
      <ng-template pTemplate="content">
        <div class="">

        </div>

      </ng-template>
      <ng-template pTemplate="footer">
        <div class="p-grid p-nogutter p-justify-end">
          <p-button label="Charqueadas" (onClick)="validate(false,4)" icon="pi pi-angle-right"
            styleClass="p-button-outlined m-2" iconPos="right"></p-button>
            <p-button label="Taquari" (onClick)="validate(true,4)" icon="pi pi-angle-right"
              styleClass="p-button-outlined m-2" iconPos="right"></p-button>
          <p-button label="Santo Amaro" (onClick)="validate(false,4)" icon="pi pi-angle-right"
            styleClass="p-button-outlined m-2" iconPos="right"></p-button>
          <p-button label="Taquara" (onClick)="validate(false,4)" icon="pi pi-angle-right"
            styleClass="p-button-outlined m-2" iconPos="right"></p-button>
        </div>
      </ng-template>
    </p-card>
  </div>
</div>
