<span style="position: fixed; bottom:45px;right: 50%;">Pontos:{{SubjectPontos.value}} </span>
<div class="card">
  <p-steps [model]="items" [readonly]="true"></p-steps>
</div>

<p-card *ngIf="!iniciado">
  <ng-template pTemplate="title">
    Bem vinda ao meu Quiz !
  </ng-template>
  <ng-template pTemplate="subtitle">
    Para Iniciarmos preciso te passar algumas informações !
    <ul>
      <li>Esse questionário pode haver perguntas que te deixaram sem jeito</li>
      <li>Cada pergunta que acertar contará um ponto</li>
      <li>Se errar perde pontos e volta para a pergunta anterior</li>
      <li>Quando errar uma pergunta não ganha mais pontos da anterior </li>
      <li>Dependendo das respostas e números de pontos no final haverá uma recompensa </li>
    </ul>
    Boa Sorte
  </ng-template>
  <ng-template pTemplate="content">
    <div class="">

    </div>

  </ng-template>
  <ng-template pTemplate="footer">
    <p-button label="Iniciar Quiz" (onClick)="iniciar()" icon="pi pi-angle-right" styleClass="p-button-outlined m-2"
            iconPos="right"></p-button>
  </ng-template>
</p-card>

<router-outlet></router-outlet>
